<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<p>
  <strong>Pacientes deste cliente:</strong>
  <ul>
    <% @cliente.pacientes.each do |paciente| %>
      <li><%= paciente.nome %></li>
    <% end %>
  </ul>
</p>

<div>
  <%= link_to "Editar Cliente", edit_cliente_path(@cliente) %> |
  <%= link_to "Voltar para Clientes", clientes_path %>

  <%= button_to "Deletar Cliente", @cliente, method: :delete %>
</div>

<br>

<%= link_to "Atendimentos", atendimentos_path, class: "btn btn-secondary" %>

<br>

