<p style="color: green"><%= notice %></p>

<%= render @vocabulariopalavra %>

<div>
  <%= link_to "Editar Vocabulario Palavra", edit_vocabulariopalavra_path(@vocabulariopalavra) %> |
  <%= link_to "Voltar para Vocabulario Palavra", vocabulariopalavras_path %>

  <%= button_to "Deletar Vocabulario Palavra", @vocabulariopalavra, method: :delete %>
</div>
