<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div>
  <%= link_to "Editar Paciente", edit_paciente_path(@paciente) %> |
  <%= link_to "Voltar para Pacientes", pacientes_path %>

  <%= button_to "Deletar Paciente", @paciente, method: :delete %>
</div>

<br>

<%= link_to "Clientes", clientes_path, class: "btn btn-secondary" %>

<br>

<%= link_to "Atendimentos", atendimentos_path, class: "btn btn-secondary" %>



