<p style="color: green"><%= notice %></p>

<% content_for :title, "Atendimentopalavras" %>

<h1>Atendimentopalavras</h1>

<table>
  <thead>
    <tr>
      <th>Palavra</th>
      <th>Transcricao</th>
      <th>Atendimento</th>
    </tr>
  </thead>
  <tbody>
    <% @atendimentopalavras.each do |atendimentopalavra| %>
      <tr>
        <td><%= atendimentopalavra.palavra %></td>
        <td><%= atendimentopalavra.transcricao %></td>
        <td><%= atendimentopalavra.atendimento_id %></td>
        <td>
          <%= link_to "Mostrar", atendimentopalavra_path(atendimentopalavra), class: "btn btn-primary" %>
          <%= link_to "Editar", edit_atendimentopalavra_path(atendimentopalavra), class: "btn btn-secondary" %>
          <%= link_to "Deletar", atendimentopalavra_path(atendimentopalavra), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th><%= link_to "Novo atendimento palavra", new_atendimentopalavra_path %></th>
      <th><%= link_to "Voltar para Atendimentos", atendimentos_path, class: "btn btn-secondary" %></th>
    </tr>
  </thead>
</table>





