<p style="color: green"><%= notice %></p>

<%= render @atendimentopalavra %>

<div>
  <%= link_to "Edit this atendimentopalavra", edit_atendimentopalavra_path(@atendimentopalavra) %> |
  <%= link_to "Back to atendimentopalavras", atendimentopalavras_path %>

  <%= button_to "Destroy this atendimentopalavra", @atendimentopalavra, method: :delete %>
</div>
