<p style="color: green"><%= notice %></p>

<%= render @atendimentopalavra %>

<div>
  <%= link_to "Editar o Atendimento Palavra", edit_atendimentopalavra_path(@atendimentopalavra) %> |
  <%= link_to "Voltar para Atendimento Palavras", atendimentopalavras_path %>

  <%= button_to "Deletar Atendimento Palavra", @atendimentopalavra, method: :delete %>
</div>
