<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Data:</strong>
    <%= atendimento.data %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atendimento.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= atendimento.status %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= atendimento.paciente_id %>
  </p>



  <p>
    <strong>Profissional:</strong>
    <%= atendimento.profissional_id %>
  </p>

</div>
