<p style="color: green"><%= notice %></p>

<%= render @atendimento %>

<div>

  <br>

  <%= link_to "Editar o atendimento", edit_atendimento_path(@atendimento) %> |
  <%= link_to "Voltar atendimentos", atendimentos_path %>

  <br>

  <%= button_to "Deletar atendimento", @atendimento, method: :delete %>
  
  <br>

<!-- Área onde a mensagem será exibida -->
  <p id="mensagem"></p>

<script>
  function mostrarMensagem(botao) {
    const descricao = botao.getAttribute("data-descricao");
    document.getElementById("mensagem").innerText = descricao;
  }
</script>

<br>

<% if @atendimento.audio.attached? %>
  <audio controls>
    <source src="<%= url_for(@atendimento.audio) %>" type="audio/mpeg">
    Seu navegador não suporta o elemento de áudio.
  </audio>
<% end %>

<br>

<% if @atendimento.image.attached? %>
  <p>
    <strong>Image:</strong><br>
    <%= image_tag url_for(@atendimento.image), style: "max-width: 300px;" %>
  </p>
<% end %>

<br>



</div>
