<p style="color: green"><%= notice %></p>

<%= render @atendimento %>

<div>

  <br>

  <%= link_to "Editar o Atendimento", edit_atendimento_path(@atendimento) %> |
  <%= link_to "Voltar Atendimentos", atendimentos_path %>

  <br>

  <%= button_to "Deletar Atendimento", @atendimento, method: :delete %>
  
  <br>

<!-- Área onde a mensagem será exibida -->
  <p id="mensagem"></p>

<script>
  function mostrarMensagem(botao) {
    const descricao = botao.getAttribute("data-descricao");
    document.getElementById("mensagem").innerText = descricao;
  }
</script>

<br>

<% if @atendimento.audio.attached? %>
  <p>
    <strong>Áudio:</strong><br>
    <audio controls>
      <source src="<%= url_for(@atendimento.audio) %>" type="<%= @atendimento.audio.content_type %>">
      Seu navegador não suporta o elemento de áudio.
    </audio>
  </p>
<% end %>

<% if @atendimento.imagem.attached? %>
  <p>
    <strong>Imagem:</strong><br>
    <%= image_tag url_for(@atendimento.imagem), style: "max-width: 300px;" %>
  </p>
<% end %>

<br>



</div>
