<div id="<%= dom_id profissional %>">
  <p>
    <strong>Nome:</strong>
    <%= profissional.nome %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= profissional.endereço %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= profissional.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profissional.email %>
  </p>

</div>
