<p style="color: green"><%= notice %></p>

<%= render @empresa %>

<div>
  <%= link_to "Editar Empresa", edit_empresa_path(@empresa) %> |
  <%= link_to "Voltar para Empresas", empresas_path %>

  <%= button_to "Deletar Empresa", @empresa, method: :delete %>
</div>
