<p style="color: green"><%= notice %></p>

<%= render @empresa %>

<div>
  <%= link_to "Editar Empresa", edit_empresa_path(@empresa) %> |
  <%= link_to "Voltar para Empresas", empresas_path %>

  <%= button_to "Deletar Empresa", @empresa, method: :delete %>
</div>

<br>

<%= link_to "Atendimentos", atendimentos_empresa_path(@empresa), class: "btn btn-secondary" %>

<br>

<%= link_to "Profissionais", profissionals_empresa_path(@empresa), class: "btn btn-secondary" %>

<br>

<%= link_to "Pacientes", pacientes_empresa_path(@empresa), class: "btn btn-secondary" %>

<br>

<%= link_to "Clientes", clientes_empresa_path(@empresa), class: "btn btn-secondary" %>


