<p style="color: green"><%= notice %></p>

<%= render @vocabulario %>

<div>
  <%= link_to "Edit this vocabulario", edit_vocabulario_path(@vocabulario) %> |
  <%= link_to "Back to vocabularios", vocabularios_path %>

  <%= button_to "Destroy this vocabulario", @vocabulario, method: :delete %>
</div>
